.station-list {
  &__item {
    border: var(--border-color) solid 1px;
    box-shadow: -1px 1px 12px 0 var(--shadow-color);

    margin: 5px 0;
    border-radius: 3px;
    padding: 10px 10px;
    color: var(--item-color);
    background-color: var(--second-bg-color);
    font-size: 1.3em;
    font-weight: bold;

    &--current {
      border-color: var(--current-color);
      box-shadow: -1px 1px 12px 0 var(--current-color);
    }
  }

  &__item-a {
    text-decoration: none;

    &:link {
      color: var(--link-color);
    }
    &:visited {
      color: var(--visited-color);
    }
  }

  &__item-heart {
    color: var(--border-color);
  }

}


