@use '../../../styles/main';
@use '../../../styles/typography';

.StationSelectorItem {
  border: var(--border-color) solid 1px;
  box-shadow: -1px 1px 12px 0 var(--shadow-color);
  margin: 5px 0;
  border-radius: 10px;
  padding: 10px 10px;
  color: var(--item-color);
  background-color: var(--second-bg-color);
  font-weight: bold;

  @media #{main.$mob} {
    padding: main.vwMax(5px) main.vwMax(5px);
    border-radius: main.vwMax(10px);
  }
}

.title {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  @include typography.h3;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;

  @media #{main.$mob} {
    gap: main.vwMax(10px);
  }

  &:link {
    color: var(--link-color);
  }
  &:visited {
    color: var(--visited-color);
  }
}

.like {
  color: var(--border-color);
  height: 27px;

  @media #{main.$mob} {
    height: main.vwMax(27px);
  }
}

.--current {
  border-color: var(--current-color);
  box-shadow: -1px 1px 12px 0 var(--current-color);
}

.--liked {
  .like {
    color: var(--color);
  }
}