@use '../../styles/main';
@use '../../styles/typography';

.Station {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  row-gap: 5px;
  z-index: 100;
  border-top: var(--current-color) solid 1px;
  box-shadow: 0px 0px 10px 0px var(--current-color);
  padding: 25px main.$webSidePadding 0 main.$webSidePadding;
  color: var(--item-color);
  background-color: var(--second-bg-color);
  align-items: center;

  @media #{main.$mob} {
    padding: main.vwMax(10px) main.vwMax(10px) 0 main.vwMax(10px);
    gap: main.vwMax(10px);
    row-gap: 5px;
  }
}


.player {
  svg {
    font-size: 48px;

    @media #{main.$mob} {
      width: main.vwMax(40px);
      font-size: main.vwMax(40px);
    }
  }
}

.heart {
  color: var(--border-color);
  font-size: 48px;

  @media #{main.$mob} {
    width: main.vwMax(40px);
    font-size: main.vwMax(40px);
  }
}


.actions {
}

.title {
  margin: 0;

  @include typography.h2;

  @media #{main.$mob} {
    width: main.vwMax(200px);
  }
}

.error {
  color: var(--error-color);
  background-color: var(--error-bg-color);
  border: var(--error-border-color) solid 1px;
  border-radius: 3px;
  padding: 1px 5px;
  width: 100%;

  @include typography.text;
}
