@use '../../styles/main';
@use '../../styles/typography';

.Station {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  z-index: 100;
  border-top: var(--current-color) solid 1px;
  box-shadow: 0px 0px 10px 0px var(--current-color);
  padding: 40px var(--padding-left) 0 var(--padding-right);
  color: var(--item-color);
  background-color: var(--second-bg-color);

  @media #{main.$mob} {
    padding: main.vwMax(10px);
    gap: main.vwMax(10px);
  }
}


.player {
  svg {
    font-size: 3em;

    @media #{main.$mob} {
      width: main.vwMax(40px);
      font-size: main.vwMax(40px);
    }
  }
}

.heart {
  color: var(--border-color);

  // svg {
    font-size: 3em;

    @media #{main.$mob} {
      width: main.vwMax(40px);
      font-size: main.vwMax(40px);
    }
  // }
}


.actions {
}

.title {
  margin: 0;

  @include typography.h2;

  @media #{main.$mob} {
    width: main.vwMax(200px);
  }
}

.error {
  color: var(--error-color);
  background-color: var(--error-bg-color);
  border: var(--error-border-color) solid 1px;
  border-radius: 3px;
  padding: 1px 5px;
  width: 100%;

  @include typography.text;
}
