
$mob: '(min-width: 0px) and (max-width: 1023px)';
$web: '(min-width: 1024px)';

$xsOyster: '(min-width: 0px) and (max-width: 639px)';
$xs1Oyster: '(min-width: 0px) and (max-width: 429px)';
$xs2Oyster: '(min-width: 430px) and (max-width: 539px)';
$xs3Oyster: '(min-width: 540px) and (max-width: 639px)';

$smOyster: '(min-width: 640px) and (max-width: 1023px)';
$sm0Oyster: '(min-width: 640px) and (max-width: 739px)';
$sm1Oyster: '(min-width: 740px) and (max-width: 839px)';
$sm2Oyster: '(min-width: 840px) and (max-width: 939px)';
$sm3Oyster: '(min-width: 940px) and (max-width: 1023px)';

$mdOyster: '(min-width: 1024px) and (max-width: 1439px)';
$md1Oyster: '(min-width: 1124px) and (max-width: 1223px)';
$md2Oyster: '(min-width: 1224px) and (max-width: 1323px)';
$md3Oyster: '(min-width: 1324px) and (max-width: 1439px)';

$lgOyster: '(min-width: 1440px) and (max-width: 1919px)';

$xlOyster: '(min-width: 1920px)';

$minMobWidth: 320px;
$maxMobWidth: 640px;

$mobSidePadding: vwMax(10px);
$webSidePadding: 20px;