.NewStation {
  display: flex;
  flex-direction: column;
}

.input {
  border: var(--color) solid 1px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  border: var(--color) solid 1px;
}