@use '../../styles/main';
@use '../../styles/typography';

.Header {
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  border-bottom: var(--current-color) solid 1px;
  box-shadow: 0 0px 8px 0px var(--current-color);
  background-color: var(--second-bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 20px;

  @media #{main.$mob} {
    padding: main.vwMax(10px);
    gap: main.vwMax(10px);
    border-bottom-left-radius: main.vwMax(10px);
    border-bottom-right-radius: main.vwMax(10px);
  }

}

.title {
  display: inline;
  @include typography.h1;
}

.logo {
  margin-right: 30px;
  color: var(--current-color);
  font-size: 30px;
  display: flex;
  align-items: center;

  svg {
    @media #{main.$mob} {
      font-size: main.vwMax(24px);
    }
  }
}

.color {
  margin-right: 20px;
}
.info, .newStation {
  color: var(--color);
  cursor: pointer;

  // svg {
    font-size: 20px;

    @media #{main.$mob} {
      width: main.vwMax(20px);
      font-size: main.vwMax(20px);
    }
  // }
}
