[Unit]
Description=nradio

[Service]
Type=simple
ExecStart=npm start
Restart=always
User=www-data
Group=www-data
Environment=PATH=/var/www/nradio:/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/nradio
StandardOutput=append:/var/log/nradio.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
